<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufsc.eficem.eficemrio2018">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_header_cel"
        android:label="Eficem Rio 2018"
        android:roundIcon="@mipmap/logo_header_cel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="Eficem Rio 2018">
        </activity>

        <activity
            android:name=".RunningActivity"
            android:label="Eficem Rio 2018">
        </activity>

        <activity
            android:name=".Permission"
            android:label="Eficem Rio 2018">
        </activity>
    </application>

</manifest>